<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand raleway" href="/">Shakeb<small>.</small>it</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <% if bit_signed_in? %>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Shares</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Outbox</a></li>
            <li><a href="#">Drafts</a></li>
          </ul>
        </li>
        <li class="<%= 'active' if current_bit.id == params[:id] %>"><a href="/bit/<%= current_bit.id %>">My Bit</a></li>
        <% end %>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <% if bit_signed_in? %>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong><%= current_bit.email %></strong>. <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Edit account', edit_bit_registration_path %></li>
            <li><%= link_to "Logout", destroy_bit_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav pull-right">
        <li class="<%= 'active' if current_page?(new_bit_session_path) %>"><%= link_to "Login", new_bit_session_path %></li>
        <li class="<%= 'active' if current_page?(new_bit_registration_path) %>"><%= link_to "Sign up", new_bit_registration_path %></li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>