<div class="row">
  <div class="col-lg-4 col-md-4 col-push">
    <div id="sidebar" class="panel panel-default container">
      <h3>Your Bit:</h3>
      <hr />
      <p><a href="bit/<%= current_bit.id %>/edit" class="btn btn-default btn-md btn-block">Edit Profile</a>
      <button type="button" class="btn btn-default btn-md btn-block">Send A Message</button></p>
      <div class="well well-sm container">
        <i>Welcome back <%= current_bit.profile.firstname %>, so nice to see you again!</i>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-pull">
    <div class="panel panel-default container">
      <h3>Speak your mind:</h3>
      <hr>
      <%= render 'post/post_form' %>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 pull-right">
    <div class="panel panel-default container">
      <h3>News Feed:</h3>
      <hr />
      <% if current_bit.follows.empty? %>
      <h3>You don't seem to be following anyone.</h3>
      <h4>Why not go out there and give it a shot.</h4>
      <% else %>
      <section id="new-feed" class="container">
        <% @posts.reverse.each do |post| %>
        <%= div_for(post, :class => 'media') do %>
        <%= render 'post/post_media', :post => post  %>
        <% end %>
        <% end %>
      </section>
      <% end %>
    </div>
  </div>
</div>


